* {
    padding: 0;
    margin: 0;
    color: white;
}
body {
    background-image: url(../images/logo.png);
    background-position: top;
    background-color: black;
    flex-wrap: wrap;
    height: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    flex-direction: row;
}

header div {
    display: flex;
    height: 8vh;
    width: 100vw;
    background-color: cyan;
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
    width: 100vw;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin: 2rem;
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 3rem;
    width: 4rem;
    margin-right: 40px;
    border: none;
}

.logo:hover {
    animation: swing;
    animation-duration: 5s;
}

img {
    height: 15rem;
    width: 20rem;
    object-fit: cover;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1;
    border-radius: 0.3em;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 25px;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.section-home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    
}

.img1 {
    height: 20rem;
    width: 100rem;
}

.div-home {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2rem;
}

.parrafo1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

#img2 {
    height: 15rem;
    width: 20rem;
    display: flex;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.content div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
}

.content img {
    height: 9rem;
    width: 12rem;
    display: flex;
    flex-direction: column;

}

#imgdiv3 {
    margin-right: 8rem;
}

.content p{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    text-align: center;
}

#parrafo3 {
    margin-right: 4rem;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.twoguys {
    height: 25rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

.infocontact {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-top: 2rem;
}

.infocontact a{
    text-decoration: none;
}

.information-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.information-section p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 2rem;
    font-size: 1.5rem;
}

table {
    border: 2px solid cyan;
    font-size: 1.5rem;
    margin-top: 25px;
}

th, td {
    padding: 2rem;
    border: 2px solid cyan;
}

.benefits-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#benefits{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.benefits-section div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    margin: 2rem 0;
    font-size: 1.5rem;
}

.benefits-section img {
    height: 12rem;
    width: 12rem;
}

ol {
    list-style: none;
}

ul {
    margin-top: 2rem;
    list-style-position: inside;
    list-style-type: disc;
}

.list2 {
    margin-right: -21.5rem;
}

footer {
    background-color: cyan;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    margin-top: 10rem;
    border-top: 10px solid transparent;
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1;
}

footer p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: black;

}